{{#each css}}
<link rel="stylesheet" href="style.css" type="text/css">
{{/each}}

{{#each js}}
{{!--
<script src="script.js"></script> --}}

<!-- <script src="/path/to/handlebars.min.js"></script> -->
{{/each}}


<html>


<body>

  <h3 class="info">
    This is a database of Kraftwerk concerts.
  </h3>

  <h3 class="info">Select A Table to View its Contents</h3>
  <form class="tableForm">
    <select name="users" onchange="showEntity(this.value)">
      <option value="">Select an Entity:</option>
      <option value="Concerts">Concerts</option>
      <option value="Locations">Locations</option>
      <option value="Lineups">Lineups</option>
      <option value="Tracks">Tracks</option>
      <option value="Tracklists">Tracklists</option>
    </select>
  </form>
  <div id="txt"><b>Entity table will be listed here:</b></div>
  <p id="tableDisplay" onclick="myFunction()">Temp</p>

</body>
<br>
<body>
    <h3 class="info">  Select an Table to add a row: (move to modify page eventually):</h3>
     <form class="table_add_dropdown">
    <select name="users" onchange="addEntity(this.value)">
      <option value="">Select an Entity:</option>
      <option value="Concerts">Concerts</option>
      <option value="Locations">Locations</option>
      <option value="Lineups">Lineups</option>
      <option value="Tracks">Tracks</option>
      <option value="Tracklists">Tracklists</option>
    </select>
  </form>
    <p id="addRowDisplay" >Temp</p>
</body>

<!-- html code for 'Add Location' fields, set to hidden by default -->
<div class="modal-body" id='addLocation' style="display: none;">
            <h3>Add Location</h3>
          <div class="modal-body">
            <div class="location-input-element">
              <label for="location-venueName-input">Venue Name</label>
              <input type="text" id="location-venueName-input">
            </div>
            <div class="location-input-element">
              <label for="location-country-input">Country</label>
              <input type="text" id="location-country-input">
            </div>
            <div class="modal-footer">
              <button type="button" class="modal-cancel-button">Cancel</button>  <!-- clear fields ? -->
              <button type="button" value = "addLocation" class="modal-accept-button" onclick="addEntityClick(this.value)">Create Location</button>
            </div>
</div>


</html>
<script>

  //when an 'add entity' button is clicked, this function will clear all the text fields and send the data to the diagnostic.js file to add values to database
  function addEntityClick(str){

  }

  //selects what to display for adding an entity, all 'add x' fields should be hidden by default and selecting them makes it visible
    function addEntity(str) {
    console.log("inside addEntity function")

    if (str == "") {
      //do nothing

    } else if (str == "Concerts") {
      //unhide concerts create fields
      
    } else if(str == "Locations"){
      //unhide Add Locations fields
      var x = document.getElementById("addLocation");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }

    } else if(str == "Lineups"){


    } else if(str == "Tracks"){

    
    }else if(str == "Tracklists"){

    }

  }

  //displays database info based on dropdown selection
  function showEntity(str) {
    console.log("inside showEntity function")

    if (str == "") {
      document.getElementById("txt").innerHTML = "";
      return;

    } else if (str == "Concerts") {
      console.log("str=Concert")
      document.getElementById("tableDisplay").innerHTML = "{{Concert_contents}}";
      
    } else if(str == "Locations"){
      console.log("str=Locations")
      document.getElementById("tableDisplay").innerHTML = "{{Location_contents}}";

    } else if(str == "Lineups"){
      console.log("str=Lineups")
      document.getElementById("tableDisplay").innerHTML = "{{Lineup_contents}}";

    } else if(str == "Tracks"){
      console.log("str=Tracks")
      document.getElementById("tableDisplay").innerHTML = "{{Track_contents}}";
    
    }else if(str == "Tracklists"){
      console.log("str=Tracklists")
      document.getElementById("tableDisplay").innerHTML = "{{Tracklist_contents}}";
    }
  }

</script>